:root{
    --primary-color: #ccc;
    --secondary-color: #f4f4f4;
    --color-1: #140a0a;
    --font-color: #333;
}

*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
    color: var(--font-color);
    line-height: 1.3;
}

header{
    background-color: var(--primary-color);
    padding: 10px 0;
}

.logo{
    font-size: xx-large;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
}

nav{
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
}

nav a{
    margin-left: 16px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 400;
}

nav a :hover{
    color: var(--font-color);
    text-decoration: overline;
}

.contact{
    background-color: var(--secondary-color);
    border-radius: 5px;
    font-weight: bolder;
    padding: 1rem;
    transform: scale(ease, 0.3);
}

.contact:hover{
    background-color: var(--primary-color);
    transition: calc(0.3);
}

.de-hero img{
    width: 100%;
    height: 700px;
}

.text{
    font-family: fantasy;
    font-size: 1.6rem;
    position: absolute;
    color: var(--secondary-color);
    top: 70%;
    right: 15%;
}

footer{
    background-color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.created{
    font-family: cursive;
    font-size: small;
}
.menu{
    display: flex;
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
}

.menu img{
    width: 30%;
    height: 200px;
}