:root{
      --primary-color: #503047;
    --secondary-color: #191017;
    --main-color: #F7F2F6;
    --main-color1: #ccc;
    --accent-color: #89587E;
}

*{
    margin: auto;
    padding: 0 ;
}

nav{
    display: flex;
    background-color: var(--primary-color);
    color: var(--main-color);
    height: 90px;
}
nav .logo{
    font-size: xx-large;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
   margin-left: 25px;
}

nav a{
    color: var(--main-color);
    text-decoration: none;
}

nav a:hover{
    text-decoration: overline;
}

h1{
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 10px;
}
main{
    width: 100%;
}

.card{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); /* this could be optional,but for best pratices*/
    text-align: center;
    grid-column: span 1;    
    grid-row: span 1;
    /*background-color: var(--main-color);*/
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 5px var(--main-color1);
}

.card > div{
    background-color: var(--main-color);
}

.card img {
  width: 90%;
  height: 90%;
  transition: transform 0.1 ease-in-out;
  border-radius: 6px;
  animation: fadein 1s ease-in;
}

.card img:hover{
    transform: scale(1.01);
}
.card p{
    margin-top: 8px;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

footer{
    background-color: var(--primary-color);
    color: var(--main-color);
    text-align: center;
    padding: 1px;
}
