@media  screen and (max-width: 768px){
  .nav-links {
   /* list-style: none;*/
    /*display: flex;*/
    /*gap: 20px;*/
}
.nav-links a {
  color: var(--main-color);
  /*text-decoration: none;*/
}

/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
  .nav-links {
     position: absolute;
    top: 60px;
    right: -250px; /* hidden by default */
    width: 200px;
    background: var(--primary-color);
    flex-direction: column;
    text-align: right;
    padding: 15px;
    transition: right 0.3s ease; /* smooth slide */
    gap: 20px;
  }

  .nav-links.active {
    right: 0; /* slide in */
  }

  .hamburger {
    display: block;
  }
  main{
    width: 100%;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}

@media screen and (min-width: 800px){
    #hamburger{
       display: none;
    }
}