h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

img{
    width: 400px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    animation: fade 5s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

