:root{
      --primary-color: #503047;
    --secondary-color: #191017;
    --main-color: #F7F2F6;
    --accent-color: #89587E;
}

*{
    margin: auto;
    padding: 0 ;
}

.navbar{
    display: flex;
    background-color: var(--primary-color);
    color: var(--main-color);
    height: 90px;
}
.navbar .logo{
    font-size: xx-large;
    
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
   margin-left: 16px;
}

.navbar a{
    color: var(--main-color);
    text-decoration: none;
}

.navbar a:hover{
    text-decoration: overline;
}
h1, figure{
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 10px;
}
main{
    width: 80%;
}

/* .photo{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;;
    text-align: center;
} */

.photo{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
}

figure{
    text-align: center;
    grid-column: span 1;    
    grid-row: span 1;
}

figure > img{
    width: 100%;
    background-color: #89587E;

}

figure caption{
    background-color: #F7F2F6;
}

footer{
    background-color: var(--primary-color);
    color: var(--main-color);
    text-align: center;
    padding: 1px;
}